body {
    background-color: #121212;
    color: #ffffff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 1em;
    border-bottom: 1px solid #333;
}
.form-control, .form-label, .btn-primary, .register-button {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #333333;
}
.form-control:focus {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #00bcd4; /* Dodany kontrastowy kolor */
    box-shadow: 0 0 5px #00bcd4;
}
.btn-primary {
    border-color: #555555;
}
.btn-primary:hover {
    background-color: #00bcd4; /* Kolor kontrastowy */
    color: #ffffff;
    border-color: #0097a7;
}
.register-button {
    background-color: #6c757d;
    border-color: #5a6268;
    color: #ffffff;
}
.register-button:hover {
    background-color: #00bcd4; /* Kontrastowy kolor */
    color: #ffffff;
    border-color: #0097a7;
}
.alert-danger {
    background-color: #d32f2f;
    color: #ffffff;
    border-color: #b71c1c;
}
.highlight {
    color: #00bcd4; /* Kolor akcentowy */
    font-weight: bold;
}