<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Change</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="navbar">
    <div>
        <a class="navbar-brand" th:href="@{/flashcards}" style="font-size: 1.5rem; font-weight: bold; color: #00bcd4; text-decoration: none;">
            FlashLearn
        </a>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center highlight">You are changing your password</h2>

    <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}"></p>
    </div>
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/password_change}" method="post" class="bg-dark p-4 shadow-sm rounded">
        <div class="mb-3">
            <label for="old_password" class="form-label">Old password:</label>
            <input type="password" id="old_password" name="old_password" class="form-control" placeholder="Enter old password">
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">New password:</label>
            <input type="password" id="new_password" name="new_password" class="form-control" placeholder="Enter new password">
        </div>
        <button type="submit" class="btn btn-primary w-100">Change password</button>
    </form>

    <div class="text-center mt-3">
        <a href="/flashcards" class="btn btn-warning">Return</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
