<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista Fiszek</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="navbar">
  <div>
    <a class="navbar-brand" th:href="@{/flashcards}" style="font-size: 1.5rem; font-weight: bold; color: #00bcd4; text-decoration: none;">
      FlashLearn
    </a>
  </div>
  <div>
    <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
  </div>
</div>

<div class="container py-4">
  <a href="/flashcards/new_set" class="btn btn-primary mb-3" style="display: grid">Add a new topic</a>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<head>

  <title>Topic list</title>
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center mb-4">Topics</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" th:each="set : ${flashcards}">
      <div class="card h-100">
        <div class="card-body">


          <h5 class="card-title" th:text="${set.title}">Topic name</h5>
          <p class="card-text" th:text="${set.description}">Topic description</p>
          <div class="card-footer text-end">
            <a th:href="@{/flashcards/topic/{title}(title=${set.title})}" class="btn btn-primary">Chose Topic</a>
          <a th:href="@{/flashcards/delete/{id}(id=${set.id})}" class="btn btn-danger">Delete</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
