<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista Fiszek</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container py-4">
  <h1 class="text-center mb-4">Lista Fiszek</h1>
  <a href="/flashcards/new" class="btn btn-primary mb-3">Dodaj nową fiszkę</a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Tytuł</th>
      <th>Opis</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flashcard, iterStat : ${flashcards}">
      <td th:text="${iterStat.index + 1}"></td>
      <td th:text="${flashcard.title}"></td>
      <td th:text="${flashcard.description}"></td>
      <td>
        <a th:href="@{/flashcards/edit/{id}(id=${flashcard.id})}" class="btn btn-warning btn-sm">Edytuj</a>
        <a th:href="@{/flashcards/delete/{id}(id=${flashcard.id})}" class="btn btn-danger btn-sm">Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
